* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#C6CEEA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

#list, #add {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}

.top {
    padding: 15px 20px 15px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #546399;
    background-color:#546399;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;

}

.search-wrap {
    position: relative;
    margin-left: 20px;

}

.fa-phone-square {
    font-size: 24px;
    color: white;


}

.search {
    padding: 5px 10px 5px 30px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #546399;
    margin: 0;

}

.fa-search {
    position: absolute;
    font-size: 15px;
    top: 5px;
    left: 10px;
    color:#546399;

}

.fa-search:hover {
    color:#7182bf;
}

.fa-search:active {
    color:#8e9ed5;
}

.bottom {
    text-align: center;
}

.buttom-add {
    background-color: #546399;
    color: white;
    padding: 20px 0px;
    width: 100%;
    border: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buttom-add:hover {
    background-color: #7182bf;
}

.buttom-add:active {
    background-color: #8e9ed5;
}

#contacts, .form {
    height: 387px;
}
#contacts {
    overflow-y: auto;
}

.item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.icon {
margin-right: 10px;
height: 50px;
width: 50px;
/*background-image: url('../images/icon.gif');*/
background-image: url('https://media.tenor.com/hOFCCrNX1-4AAAAM/deadpixels-dpgc.gif');
background-position: center center;
background-repeat: no-repeat;
background-size: 100%;
background-color: #464646; 
border-radius: 100px;
 

}

.item-text {
    display: flex;
    padding: 5px 0;
    margin-right: auto;
    flex-direction: column;

}

 .fa-btn {
    cursor: pointer;
    color: grey;
}
`
.fa-times {
color: grey;
}

.fa-times:hover {color: black;}
.fa-times:active {color: grey;}

.fa-heart-o {
color: #D1756F;
}

.fa-heart-o:hover {color: #BE524B;}
.fa-heart-o:active {color: #902727;}

.fa-heart {
color:#D1756F;
}
.fa-heart:hover {color:#BE524B;}
.fa-heart:active{color:#902727;}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.3px solid #adb5bd;
  border-radius: 0.5em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color:  #546399;
 background-color:  #546399;
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.p-name {
    font-size: 17px;
}

.p-phone {
    font-size: 15px;
}

.buttom-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    color: black;

}

#add {
    display: none;
}

.title {
    margin-left: 20px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 2px;
    color: white;

}

.form {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

}

input {
    padding: 10px 10px;
    margin-bottom: 15px;
    border: 1px solid #c6c6c6;
    border-radius: 15px;
}


label {
    font-size: 15px;

}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}